{erl_opts, [{parse_transform, lager_transform}]}.
%{erl_opts, [
%  {i, "src"},
%  {i, ".."},
%  {i, "../../../include"},
%  {i, "libs"},
%  {i, "deps"},
%  {src_dirs, ["src", "libs"]},
%  debug_info
%]}.


{sub_dirs, [ "rel" ]}.
{lib_dirs, ["deps"]}.

{deps_dir, ["deps"]}.
%{plugins, [erlson_rebar_plugin]}. % newest rebar
{rebar_plugins, [erlson_rebar_plugin]}. % older rebar

{deps, [
    {lager,     ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
%    %{test,    ".*", {git, "wangwd3@10.120.22.110:/home/git/octopus_test", {branch, "master"}}},
%    {vtx_common,    ".*", {git, "langxw1@10.120.22.110:/home/git/vtx_common", {branch, "master"}}},
%    %have been changed from git hub,must use our deps.  
%    {erlson, ".*",{git, "https://github.com/alavrik/erlson", {branch, "master"}}},
%    {jiffy, ".*",   {git, "https://github.com/davisp/jiffy.git", {tag, "0.13.3"}}},
%
%
%    %mongo and mongorel must use package in third party lib
    {mongrel, ".*",{git, "https://github.com/hammingweight/mongrel", {tag, "1.2.2"}}},
    {mongodb, ".*", {git, "https://github.com/comtihon/mongodb-erlang", {tag, "v3.2.0"}}},
%
    {erlydtl, ".*",{git, "https://github.com/erlydtl/erlydtl", {tag, "0.12.1"}}},
%    {merl, ".*",{git, "https://github.com/erlydtl/merl", {branch, "master"}}},
%    {poolboy, ".*",{git, "https://github.com/devinus/poolboy", {tag, "1.5.1"}}},
%    {apns,     ".*", {git, "https://github.com/inaka/apns4erl.git", {tag, "master"}}}, 
%    {eapns,     ".*",{git, "https://github.com/stofel/eapns",{branch, "master" }}},	%only this
%    {erflux,  ".*",{git, "https://github.com/gossiperl/erflux", {tag, "version-1.0.2"}}},
%    {cowlib,    ".*", {git, "https://github.com/ninenines/cowlib", {tag, "1.0.2"}}},
%    {cowboy,    ".*", {git, "https://github.com/ninenines/cowboy", {tag, "1.0.4"}}},
%    %{gun,    ".*", {git, "https://github.com/ninenines/gun", {tag, "1.0.0-pre.1"}}},
%    {ibrowse,    ".*", {git, "https://github.com/cmullaparthi/ibrowse", {tag, "v4.3"}}},
%    {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git",{tag, "0.9" }}},
     {bson,    ".*", {git, "https://github.com/mongodb/bson-erlang.git", {tag, "v0.2.2"}}}
%    {octopus_monitor,    ".*", {git, "langxw1@10.120.22.110:/home/git/octopus_monitor", {tag, "v0.0.1"}}},  
%    {octopus_file,    ".*", {git, "langxw1@10.120.22.110:/home/git/octopus_file", {branch, "master"}}}
]}.

{erl_opts, [debug_info]}.
%{yrl_opts, [{includefile, "include/erlydtl_preparser.hrl"}]}.
%{yrl_opts, [{includefile, "../../deps/erlydtl/include/erlydtl_preparser.hrl"}]}.
%{yrl_opts, [{includefile, "./deps/erlydtl/include/erlydtl_preparser.hrl"}]}.

